/*>>>*/
.App {
  text-align: center;
}

nav {
  height: 76px;
  }
  .faLogo {
    color: orange;
  }
  .logo {
    color: lightblue;
    font-family: 'raleway';
    font-size: 40px;
    font-weight: 900;
    margin: 18px 2vw;
    position: absolute;
    top: 0%;
    left: 0%;
    text-shadow: 0px 0px 2px #555;
  }
  
  .right-side {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
  }
    .login-button {
      background: #3b5998;
      border: 2px solid white;
      border-radius: 6px;
      color: white;
      display: inline;
      float: right;
      font-size: 16px;
      margin: 18px 30px;
      opacity: 0.9;
      padding: 7px 10px;
      transition: all 0.3s ease;
    }
    .login-button:hover {
      background: #3b5998;
      border: 2px solid white;
      opacity: 1;
    }
    .fa-facebook-square {
      font-size: 26px;
      margin-right: 14px;
      float: left;
    }
    .fb-button-text {
      display: inline;
      float: right;
      margin: 2px 0px;
    }
    .welcome {
      font-size: 1em;
      margin: 30px 1px;
    }
    .logout-button {
      background: #3b5998;
      border: 2px solid white;
      border-radius: 4px;
      color: white;
      letter-spacing: 1px;
      margin: 0 2px;
      opacity: 0.3;
      padding: 4px 14px;
      transition: all 0.3s ease;
    }
    .logout-button:hover {
      background: #3b5998;
      opacity: 0.8;
    }
    
    .nav-ul {
      margin: 30px 2vw 30px 0px;
     }
    .nav-li {
      border-left: 2px solid #eee;
      color: #666;
      display: inline;
      font-family: raleway;
      font-size: 16px;
      letter-spacing: 2px;
      margin: auto 0;
      margin-left: 4px;
      padding: 10px 14px;
      transition: all 0.5s ease;
    }
    .nav-li:hover {
      border-left: 2px solid rgb(242, 145, 2, .3);
      text-shadow: 0px 0px 1px #555;
    }

.nav-button {
  color: black;
  display: none;
  float: right;
  font-size: 30px;
  margin: 28px 30px;
  position: relative;
  z-index: 10;
  transition: all 0.3s ease;
}
.nav-button:hover {
  color: red;
}
@media (max-width: 900px) {
  .nav-button {
    display: inline;
  }
}
.mobile-navbar {
  background: rgb(60, 60, 60, 0.9);
  border-radius: 2px;
  box-shadow: inset 0px 0px 10px 3px #222;
  isplay: none;
  padding-bottom: 20px;
  padding-top: 100px;
  position: absolute;
  right: 0;
  width: 40%;
  z-index: 1;
}
.mobile-nav-button {
  border-top: 1px solid white;
  box-shadow: 0px 0px 10px 1px #444;
  color: white;
  display: inline-flex;
  font-family: 'raleway';
  letter-spacing: 3px;
  padding: 4px 10px;
  width: 80%;
  transition: all 0.3s ease;
}
.mobile-nav-button:hover {
  color: orange;
}
.tbd {
  background: linear-gradient(#667, #323);
  color: rgb(255, 255, 255, 0.9);;
  font-family: lato;
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: 6px 0px;
  text-align: center;
}
  .tbd-container {
    position: relative;
    left: auto;
    right: auto;
  }
  .fa-arrow-circle-right {
    color:  rgb(242, 145, 2, 1);
    margin: auto 1.5vw;
  }

.main {
  background: linear-gradient(rgb(255, 255, 245, 1), white);
  min-height: 687px;  /*mit header(guide): 570px;*/
  padding-top: 8vh;
  position: relative;
}

.footer {
  background: linear-gradient(#eee, silver);
  border-top: 1px solid silver;
  padding: 10px 20px;
}
  .fa-github {
    color: purple;
    text-shadow: 0px 0px 2px red;
    transition: all 0.2s ease;
  }
a:hover .fa-github {
  color: rgb(235, 89, 255)
}
h1 {
  font-family: raleway;
  margin: 0;
  padding: 15px;
}
.btn {
  background: white;
  border: 1px solid lightblue;
  border-radius: 4px;
  font-family: raleway;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease-out;
}
.btn:hover {
  background: lightblue;
  border: 1px solid white;
  color: white;
}
.danger {
  border: 1px solid red;
}
.danger:hover {
  background: red;
  border: 1px solid white;
  color: white;
}
.delete {
  background: #ff7a7f;
  border: 1px solid #ff7a7f;
  border-radius: 50%;
  color: white;
  display: inline;
  font-size: 1em;
  font-weight: 600;
  margin-left: 5px;
  padding: 2px 7px;
  transition: all 0.5s ease;
  width: 26px;
}
.delete:hover {
  animation: delSpin 0.4s ease;
  background: #ff4a4f;
  border: 1px solid white;
}
@keyframes delSpin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}
input:hover {
  box-shadow: inset 0px 0px 6px 1px #eee;
}
button {
  cursor: pointer;
}
h3 {
  text-transform: uppercase;
}

@media (max-width: 900px) {
  .logo {

  }
  .welcome {
    font-size: 1em;
  }
  .nav-ul {
    display: none;
  }
  .tbd {
    font-size: 1em;
  }
}
@media (max-width: 620px) {
  .welcome {
    display: none;
  }
}