.about-container {
  margin: 0 auto;
  width: 60%;
}
.header {
}
.guide-container {
  display: inline-flex;
  padding: 10px 14%;
  text-align: left;
}
.guide-box {
  background: white;
  box-shadow: 0px 0px 4px 1px silver;
  margin: 0 auto;
  padding: 30px 20px;
  width: 18%;
}
.guide-title {
  border-bottom: 1px solid orange;
  font-weight: 600;
  margin: 0px 20px;
}
.guide-text {
  font-size: 15px;
}
a.alt {
  color: orange;
  transition: all 0.2s ease;
}
a.alt:hover {
  color: rgb(242, 145, 2);
}