.myPolls {
  	background: lightblue;
	height: 40vh;
}
.polls {
	height: 60%;
}
.pollBox {
	background: rgb(500,500,500,0.9);
	border-top: 1px solid #e5effe;
	border-bottom: 1px solid #e5effe;
	box-shadow: inset 0px 0px 10px 1px silver;
	display: inline-block;
	font-family: raleway;
	padding: 7px 0px 3px 0px;
	position: relative;
	width: 80%;
}
.myPollContent {
	color: black;
	display: inline;
	text-decoration: none;
}
.pollQuestion {
	font-weight: 600;
	letter-spacing: 1px;
	position: absolute;
	left: 3%;
}
.pollVotes {
	color: #999;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 20px;
}
.creator {
	position: absolute;
	right: 3%;
	font-style: oblique;
}
