input.question, input.answer {
	border-radius: 5px;
	margin: 1px auto;
	transition: all 0.3s ease-in-out;
}
input:hover {
	box-shadow: inset 0px 0px 10px 10px #eee;
}
.question {
	border: 2px solid #eee9de;
	font-size: 1rem;
	font-family: raleway;
	padding: 8px 30px;
	text-align: center;
	width: 20%;
}
.answers {
	margin: 10px;
}
.answerBox {
	padding: 2px;
}
.answer {
	border: 2px solid #e9eefe;
	font-family: raleway;
	display: inline;
	padding: 8px 20px;
}
.answer:hover {
	/*box-shadow: inset 0px 0px 10px 10px #eee;	in input / input:hover*/
}

.success {
	background: rgb(100, 100, 100, 0.8 );
	color: white;
	box-shadow: 0px 0px 10px 1px black;
	position: fixed;
	height: 40%;
	width: 80vw;
	margin: 0% 10%;
}